{% extends '::dashboard.html.twig' %}

{% block body %}
    <iframe src="https://www.wunderlist.com/lists/117523713" width="800" height="600" name="My list">
    <p>Your browser cannot view embedded frames. Just click on the link to open the list: <a href="https://www.wunderlist.com/lists/121067308">My list</a></p>
    </iframe>
{% endblock %}

