# app/config/servers.yml
dev:
    host:          127.0.0.1
    user:          ~
    password:      ~
#    identity_file:
#        public_key: "~/.ssh/id_release.pub"
#        private_key: "~/.ssh/id_release"
#        password: "key-password"
    stage:         dev
    deploy_path:   "/var/www"
    branch:        master