{% extends 'dashboard.html.twig' %}

{% block title %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>{{ 'report.title'|trans }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">{{ 'home'|trans }}</a>
                </li>
                <li class="active">
                    <strong>{{ 'report.list'|trans }}</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}