{% extends 'dashboard.html.twig' %}

{% block title %}Lead Capture Form{% endblock %}

{% block body %}
    <p>Capture leads directly into your sales funnel via customizable form.</p>

    <h3>Example of form:</h3>
    <br />
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" type="text" placeholder="Name" required disabled/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" type="email" placeholder="Email" required disabled/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" type="text" placeholder="Phone" required disabled/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-1">
            <input class="btn btn-primary" type="button" value="Submit" required disabled/>
        </div>
    </div>

{% endblock %}
