{% extends 'dashboard.html.twig' %}

{% block title %} Lead creation {% endblock %}

{% block body -%}
    {{ form(form, {'class': 'form-horizontal'}) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('lead') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
