{% extends '::dashboard.html.twig' %}

{% block title %}
    <div class="col-sm-4">
        <h2>{{ 'product.edit'|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">{{ 'home'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ 'product.edit'|trans }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

{% endblock %}