{% extends '::dashboard.html.twig' %}

{% block title %}
    <div class="col-sm-4">
        <h2>{{ 'contact.export'|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">{{ 'home'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ 'contact.export'|trans }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23f3f3f4&amp;src=andreybolonin1989%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FKiev" style="border-width:0" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %}