<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HMCRM - Open Source All-in-one Sales Platform for Small Business</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="/css/animate.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="landing-page  mini-navbar pace-done">

<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>

<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- <div class="navbar-brand nav navbar-nav navbar-right">
                        <a style="color: #fff;" href="">RU </a>
                    |
                        <a href="">EN</a>
                    </div> -->

                    <a class="navbar-brand" href="http://crm.healthmarketing.me">HMCRM</a>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {#<div class="navbar-brand nav navbar-nav navbar-right">#}
                        {#<a style="color: #fff;" href="">RU </a>#}
                    {#|#}
                        {#<a href="">EN</a>#}
                    {#</div>#}
                    <!-- <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Features</a></li>
                        <li><a class="page-scroll" href="#implementation">Implementation</a></li> -->
                        {#<li><a class="page-scroll" href="#testimonials">Testimonials</a></li>#}
                        {#<li><a class="page-scroll" href="#pricing">Pricing</a></li>#}
                        <!-- <li><a class="page-scroll" href="#contact">Contact</a></li> -->
                    <!-- </ul> -->
                                </div>
            </div>
        </nav>
</div>


<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">


    {#<ol class="carousel-indicators">#}
        {#<li data-target="#inSlider" data-slide-to="0" class="active"></li>#}
        {#<li data-target="#inSlider" data-slide-to="1"></li>#}
    {#</ol>#}
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a target="_blank" href="https://github.com/andreybolonin/hmcrm">
                <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
            </a>
            <div class="container">
                <div class="carousel-caption">
                    <h2 style="font-size: 30px;"><b>FREE ALL-IN-ONE SALES PLATFORM</b></h2>
                    {#<p></p>#}
                    <br/>
                    <p style="text-align: center;">
                        Use our CRM for your Sales Team <br>
                        and save from 9.000$ (10 sales)<br>
                        to 45.000$ (50 sales) per year.<br>
                        <br>
                        Or <a target="_blank" href="https://github.com/andreybolonin/hmcrm">fork us on Github</a> and make your<br>
                        contribution to the development HMCRM
                    </p>

                    <p style="text-align: center;">
                        <br/>
                        <a class="btn btn-lg btn-primary" href="/register" role="button">Get Free Account</a>  or  <a class="btn btn-lg btn-primary" href="/login" role="button">Login</a><br/>
                        {#<a class="caption-link" href="#" role="button">No Credit Card Required</a>#}

                    </p>
                </div>
                <div class="carousel-image wow zoomIn animated" style="visibility: visible;">
                    <img src="/img/landing/laptop.png" alt="laptop">
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        {#<div class="item">#}
            {#<div class="container">#}
                {#<div class="carousel-caption blank">#}
                    {#<h1>We create meaningful <br> interfaces that inspire.</h1>#}
                    {#<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>#}
                    {#<p><a class="btn btn-lg btn-primary" href="http://webapplayers.com/inspinia_admin-v2.4/landing.html#" role="button">Learn more</a></p>#}
                {#</div>#}
            {#</div>#}
            {#<!-- Set background for slide in css -->#}
            {#<div class="header-back two"></div>#}
        {#</div>#}
    </div>
    {#<a class="left carousel-control" href="http://webapplayers.com/inspinia_admin-v2.4/landing.html#inSlider" role="button" data-slide="prev">#}
        {#<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
        {#<span class="sr-only">Previous</span>#}
    {#</a>#}
    {#<a class="right carousel-control" href="http://webapplayers.com/inspinia_admin-v2.4/landing.html#inSlider" role="button" data-slide="next">#}
        {#<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
        {#<span class="sr-only">Next</span>#}
    {#</a>#}
</div>

<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Open Source</h2>
            <p>We think that the future of digital software products - is freemium.<br>
                Like Atom, Ubuntu or Symfony.<br/><br>
                Start use our CRM for your sales department and save your money. <br/><br>
                Spent saved money on cosulting or trainings. And rise up your sales!<br/>
                {#<p><a class="navy-link" href="#" role="button">Details »</a></p>#}
        </div>
        <div class="col-sm-3">
            <h2>Out of the box Email and Task Integration</h2>
            <p>In our CRM we don`t find any Task Managment or Email Service tool.<br><br>
                But we can choose integration with any popular services, such as<br>
                Asana, Wunderlist, Todoist or Trello.<br/><br>
                And for email - MailerLite, GetResponse, Aweber or MailChimp.</p>
            {#<p><a class="navy-link" href="#" role="button">Details »</a></p>#}
        </div>
        <div class="col-sm-3">
            <h2>Awesome Clean Design</h2>
            <p>Design and UI are very important things in digital products. <br/><br>
                And for most open source CRM is not a strogn side.<br><br>
                But we use only minimalistic and clean useful design.</p>
            {#<p><a class="navy-link" href="#" role="button">Details »</a></p>#}
        </div>
        <div class="col-sm-3">
            <h2>SALES REPORTING AND ANALYTICS</h2>
            <p>Reports and statistics for analytics and scale your sales is very important, int it?<br/><br>
                LTV, AOV, CPO and other important metrics is very important for healthy growth business.<br><br>
            </p>
            {#<p><a class="navy-link" href="#" role="button">Details »</a></p>#}
        </div>
    </div>
</section>

<section class="container features" style="display: none;">
    Compare with other popular CRM:
    BaseCRM
    SalesForce
    HubSpot
    InfusionSoft
    Microsoft Dynamics
</section>

<section class="container features" style="display: none;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Philosohpy<br> <span class="navy"> with many custom components</span> </h1>
            <p>Small things that do greate goals. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft" style=" animation-name: none;">
            <div>
                <i class="fa fa-mobile features-icon"></i>
                <h2>Full responsive</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon"></i>
                <h2>6 Charts Library</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn" style="animation-name: none;">
            <img src="/img/landing/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight" style=" animation-name: none;">
            <div>
                <i class="fa fa-envelope features-icon"></i>
                <h2>Mail pages</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-google features-icon"></i>
                <h2>AngularJS version</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Discover great feautres</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft" style="animation-name: none;">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
            <a href="" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight" style=" animation-name: none;">
            <img src="/img/landing/dashboard.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>

<section class="features" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Even more great feautres</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft" style="animation-name: none;">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn" style=" animation-name: none;">
                <img src="/img/landing/iphone.jpg" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight" style=" animation-name: none;">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>
</section>

<section style="display: none;" class="timeline gray-section" id="implementation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>CRM Implementation Workflow</h1>
                {#<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>#}
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Discover the features</h2>
                            <p>Check HMCRM for your business without registration.<br/> Login: admin<br/> Password: admin</p>
                            <a target="_blank" href="/login" class="btn btn-xs btn-primary"> Check it</a>
                            <span class="vertical-date"> Today <br> <small></small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-file-text"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Register your personal account</h2>
                            <p>Fill name, email, phone and password into the form to register your personal account and log it in.</p>
                            <a target="_blank" href="/register" class="btn btn-xs btn-primary"> Register</a>
                            <span class="vertical-date"> Tomorrow <br> <small></small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-cogs"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Import your leads and customers</h2>
                            <p>Import your data into the HMCRM in any of formats - xml, csv, xls, json.</p>
                            <a href="/import" class="btn btn-xs btn-primary"> Import data</a>
                            <span class="vertical-date"> Monday <br> <small>Jan 02</small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-file-text"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Integrate HMCRM with PM tool</h2>
                            <p>We love greate Project Managment tools, such as Wunderlist or Asana. And believe that the Project/Task Management tool is not a part of the CRM. </p>
                            <a target="_blank" href="/pm" class="btn btn-xs btn-primary"> Integrate</a>
                            <span class="vertical-date"> Tomorrow <br> <small></small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-cogs"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Grow your business</h2>
                            <p>CRM is souch as instrument. You need use it to get greate results. Take it in action. Call to your customers, dicsuss with us, and sell him your solution!</p>
                            <a href="/leads" class="btn btn-xs btn-primary"> Sell and grow your business</a>
                            <span class="vertical-date"> Monday <br> <small>Jan 02</small> </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>

<section id="contact" class="contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Follow Us</h1>
                <p></p>
            </div>
        </div>
        {#<div class="row m-b-lg">#}
            {#<div class="col-lg-6 col-lg-offset-6">#}
                {#<address>#}
                    {#<strong><span class="navy">HeathMarketing</span></strong><br>#}
                    {#Russian Federation<br>#}
                    {#Moscow, 3-ya Myakininskay, 26a<br>#}
                    {#+7 (977) 267 03 73#}
                {#</address>#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#<p class="text-color">#}
                    {#<i>123</i><br/><br/>#}
                    {#321#}
                {#</p>#}
            {#</div>#}
        {#</div>#}
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- <a href="mailto:andreybolonin1989@gmail.com" class="btn btn-primary">Send us mail</a> -->
                <!-- <p class="m-t-sm">
                    On social platform
                </p> -->
                <ul class="list-inline social-icon">
                    {#<li><a href="vk.com"><i class="fa fa-twitter"></i></a></li>#}
                    <li>
                        <a style="" href="http://healthmarketing.me">
                            <i class="fa fa-book"></i>
                        </a>
                    </li>
                    {#<li>#}
                        {#<a style="" href="http://vk.com/healthmarketing"><i class="fa fa-vk"></i></a>#}
                    {#</li>#}
                    <li>
                        <a style="" href="https://github.com/andreybolonin/hmcrm">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://fb.com/healthmarketing.me/"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <!-- <p><strong>© 2016 HealthMarketing</strong><br> -->
                    {#<br/>- Steve Jobs#}
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Mainly scripts -->
{#<script src="https://cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/bootstrap.metismenu/1.1.2/js/metismenu.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/slimscroll/1.3.7/jquery.slimscroll.min.js"></script>#}

<!-- Custom and plugin javascript -->
{#<script src="/js/inspinia.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/pace/1.0.2/pace.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/wow/1.1.2/wow.min.js"></script>#}

</body>
</html>
