ul {
    list-style-type: none;
}
a {
    cursor: pointer;
}
a .list-item {
   text-underline: dotted;
}
.form-actions div .btn {
    float:right;
    margin: 0 5px 15px;
}
h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    display: inline;
}
h3:hover {
    border-bottom: 1px dotted #333;
}
.list-row {
    padding: 15px 15px;
    color: #333;
    margin: 5px 0 0 0;
}
.list-row:hover {
    background:#f6f6f6;
}
.hidden-list-fields p {
    display: inline-block;
}
.hidden-list-fields {
    display: none;
}
.list-row:hover .hidden-list-fields {
    display: inline-block;
}
.actions .btn, .actions form{
    display: inline;
    margin: 5px 2px;
}